{% extends "base.html" %}
{% load static %}
{% block content %}
                <!-- BEGIN #product -->
        <div id="product" class="section-container p-t-20">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN breadcrumb -->
                <ul class="breadcrumb m-b-10 f-s-12">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Mobile Phone</a></li>
                    <li><a href="#">Apple</a></li>
                    <li class="active">iPhone 6S Plus</li>
                </ul>
                <!-- END breadcrumb -->
                {{ product_specification }}


                <!-- BEGIN product -->
                <div class="product">
                    <!-- BEGIN product-detail -->
                    <div class="product-detail">
                        <!-- BEGIN product-image -->
                        <div class="product-image">
                            <!-- BEGIN product-thumbnail -->
                            <div class="product-thumbnail">
                                <ul class="product-thumbnail-list">
                                    <li class="active"><a href="#" data-click="show-main-image" data-url="{% static 'assets/img/iphone-6s-plus-2.jpg' %}"><img src="{% static 'assets/img/iphone-6s-plus-2.jpg' %}" alt="" /></a></li>
                                    <li><a href="#" data-click="show-main-image" data-url="{% static 'assets/img/iphone-6s-plus-3.jpg' %}"><img src="{% static 'assets/img/iphone-6s-plus-3.jpg' %}" alt="" /></a></li>
                                    <li><a href="#" data-click="show-main-image" data-url="{% static 'assets/img/iphone-6s-plus-4.jpg' %}"><img src="{% static 'assets/img/iphone-6s-plus-4.jpg' %}" alt="" /></a></li>
                                    <li><a href="#" data-click="show-main-image" data-url="{% static 'assets/img/iphone-6s-plus-5.jpg' %}"><img src="{% static 'assets/img/iphone-6s-plus-5.jpg' %}" alt="" /></a></li>
                                    <li><a href="#" data-click="show-main-image" data-url="{% static 'assets/img/iphone-6s-plus-6.jpg' %}"><img src="{% static 'assets/img/iphone-6s-plus-6.jpg' %}" alt="" /></a></li>
                                    <li><a href="#" data-click="show-main-image" data-url="{% static 'assets/img/iphone-6s-plus-7.jpg' %}"><img src="{% static 'assets/img/iphone-6s-plus-7.jpg' %}" alt="" /></a></li>
                                </ul>
                            </div>
                            <!-- END product-thumbnail -->
                            <!-- BEGIN product-main-image -->
                            <div class="product-main-image" data-id="main-image">
                                <img src="{% static 'assets/img/iphone-6s-plus.png' %}" alt="" />
{#                                <img src="{{prodspec.image}}" alt="" />#}
                            </div>
                            <!-- END product-main-image -->
                        </div>
                        <!-- END product-image -->
                        <!-- BEGIN product-info -->

                        <div class="product-info">
                            {{ product }}


                            <!-- BEGIN product-info-header -->
                            <div class="product-info-header">
                                <h1 class="product-title"><span class="label label-success">41% OFF</span> {{ product_info.name }} </h1>
                                <ul class="product-category">
                                    <li><a href="#">iPhone</a></li>
                                    <li>/</li>
                                    <li><a href="#">mobile phone</a></li>
                                    <li>/</li>
                                    <li><a href="#">electronics</a></li>
                                    <li>/</li>
                                    <li><a href="#">lifestyle</a></li>
                                </ul>
                            </div>
                            <!-- END product-info-header -->
                            <!-- BEGIN product-warranty -->
                            <div class="product-warranty">
                                <div class="pull-right">Availability: In stock</div>
                                <div><b>1 Year</b> Local Manufacturer Warranty</div>
                            </div>
                            <!-- END product-warranty -->
                            <!-- BEGIN product-info-list -->
                            <ul class="product-info-list">
                                <li><i class="fa fa-circle"></i> {{ product.product_specification}}</li>
                            </ul>
                            <!-- END product-info-list -->
                            <!-- BEGIN product-social -->
                            <div class="product-social">
                                <ul>
                                    <li><a href="javascript:;" class="facebook" data-toggle="tooltip" data-trigger="hover" data-title="Facebook" data-placement="top"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:;" class="twitter" data-toggle="tooltip" data-trigger="hover" data-title="Twitter" data-placement="top"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:;" class="google-plus" data-toggle="tooltip" data-trigger="hover" data-title="Google Plus" data-placement="top"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="javascript:;" class="whatsapp" data-toggle="tooltip" data-trigger="hover" data-title="Whatsapp" data-placement="top"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href="javascript:;" class="tumblr" data-toggle="tooltip" data-trigger="hover" data-title="Tumblr" data-placement="top"><i class="fa fa-tumblr"></i></a></li>
                                </ul>
                            </div>
                            <!-- END product-social -->
                            <!-- BEGIN product-purchase-container -->
                            <div class="product-purchase-container">
                                <div class="product-discount">
                                    <span class="discount">{{ product.new_price }}</span>
                                </div>
                                <div class="product-price">
                                    <div class="price">{{ product.off_price }}</div>
                                </div>
                                <button class="btn btn-inverse btn-lg" type="submit">ADD TO CART</button>
                            </div>
                            <!-- END product-purchase-container -->
                        </div>
                        <!-- END product-info -->
                    </div>

                    <!-- END product-detail -->
                    <!-- BEGIN product-tab -->
                    <div class="product-tab">
                        <!-- BEGIN #product-tab -->
                        <ul id="product-tab" class="nav nav-tabs">
                            <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                            <li class=""><a href="#product-info" data-toggle="tab">Additional Information</a></li>
                            <li class=""><a href="#product-reviews" data-toggle="tab">Rating & Reviews (5)</a></li>
                        </ul>
                        <!-- END #product-tab -->
                        <!-- BEGIN #product-tab-content -->
                        <div id="product-tab-content" class="tab-content">
                            <!-- BEGIN #product-desc -->
                            <div class="tab-pane fade active in" id="product-desc">
                                <!-- BEGIN product-desc -->
                                <div class="product-desc">
                                    <div class="image">
                                        <img src="{{ product_specification.desc_image_1.url }}"  />
{#                                        <img src="{% static 'assets/img/product-main.jpg' %}" alt="" />#}
                                    </div>
                                    <div class="desc">
                                        <h4>{{ product_specification.desc_name_1 }}</h4>
                                        <p>{{ product_specification.desc_detail_1 }}</p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                                <!-- BEGIN product-desc -->
                                <div class="product-desc right">
                                    <div class="image">
                                        <img src="{{ product_specification.desc_image_2.url }}" alt="" />
{#                                        <img src="{% static 'assets/img/product-3dtouch.jpg' %}" alt="" />#}
                                    </div>
                                    <div class="desc">
                                        <h4>{{ product_specification.desc_name_2 }}</h4>
                                        <p>{{ product_specification.desc_detail_2 }}</p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                                <!-- BEGIN product-desc -->
                                <div class="product-desc">
                                    <div class="image">
{#                                        <img src="{% static 'assets/img/product-cameras.jpg' %}" alt="" />#}
                                        <img src="{{ product_specification.desc_image_3.url }}" />
                                    </div>
                                    <div class="desc">
                                        <h4>{{ product_specification.desc_name_3 }}</h4>
                                        <p> {{ product_specification.desc_detail_3 }}</p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                                <!-- BEGIN product-desc -->
                                <div class="product-desc right">
                                    <div class="image">
                                        <img src="{{ product_specification.desc_image_4.url }}" alt="" />
{#                                        <img src="{% static 'assets/img/product-technology.jpg' %}" alt="" />#}
                                    </div>
                                    <div class="desc">
                                        <h4>{{ product_specification.desc_name_4 }}</h4>
                                        <p>{{ product_specification.desc_detail_4 }}</p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                                <!-- BEGIN product-desc -->
                                <div class="product-desc">
                                    <div class="image">
                                        <img src="{{ product_specification.desc_image_5.url }}" alt="" />
{#                                        <img src="{% static 'assets/img/product-design.jpg' %}" alt="" />#}
                                    </div>
                                    <div class="desc">
                                        <h4>{{ product_specification.desc_name_5 }}</h4>
                                        <p>{{ product_specification.desc_detail_5 }}</p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                            </div>
                            <!-- END #product-desc -->

                            <!-- BEGIN #product-info -->
                            <div class="tab-pane fade" id="product-info">
                                <!-- BEGIN table-responsive -->
                                <div class="table-responsive">
                                    <!-- BEGIN table-product -->
                                    <table class="table table-product table-striped">
                                        {% for AddInfo in table_components %}
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>iPhone 6s</th>
                                                <th>iPhone 6s Plus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="field">Capacity</td>
                                                <td>
                                                    {{ AddInfo.capacity_1 }}
                                                </td>
                                                <td>
                                                   {{ AddInfo.capacity_2 }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="field">Weight and Dimensions</td>
                                                <td>
                                                    {{ AddInfo.weight_dimension_1 }}
                                                </td>
                                                <td>
                                                    {{ AddInfo.weight_dimension_2 }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="field">Display</td>
                                                <td>
                                                   {{ AddInfo.display_1 }}
                                                </td>
                                                <td>
                                                    {{ AddInfo.display_2 }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="field">Chip</td>
                                                <td colspan="2">
                                                    {{ AddInfo.chip_1 }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="field">iSight Camera</td>
                                                <td colspan="2">
                                                    {{ AddInfo.isight_cam1 }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="field">Video Recording</td>
                                                <td colspan="2">
                                                    {{ AddInfo.video_record2}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                    <!-- END table-product -->
                                </div>
                                <!-- END table-responsive -->
                            </div>
                            <!-- END #product-info -->
                            <!-- BEGIN #product-reviews -->
                            <div class="tab-pane fade" id="product-reviews">
                                <!-- BEGIN row -->
                                <div class="row row-space-30">
                                    <!-- BEGIN col-7 -->
                                    {% for reviews in review %}

                                    <div class="col-md-7">
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="{% static 'assets/img/user-1.jpg' %}" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
{#                                                        {{ form.user.as_hidden }}#}
                                                        {% if reviews.rating == 1 %}
                                                            <li class="active" ><i class="fa fa-star" ></i> </li>
                                                            <li class=""><i class="fa fa-star"></i></li>
                                                            <li class=""><i class="fa fa-star"></i></li>
                                                            <li class=""><i class="fa fa-star"></i></li>
                                                            <li class=""><i class="fa fa-star-o"></i></li>
                                                        {% endif %}
                                                    {% if reviews.rating == 2 %}
                                                            <li class="active" ><i class="fa fa-star" ></i> </li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class=""><i class="fa fa-star"></i></li>
                                                            <li class=""><i class="fa fa-star"></i></li>
                                                            <li class=""><i class="fa fa-star-o"></i></li>
                                                        {% endif %}
                                                    {% if reviews.rating == 3 %}
                                                            <li class="active" ><i class="fa fa-star" ></i> </li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class=""><i class="fa fa-star"></i></li>
                                                            <li class=""><i class="fa fa-star-o"></i></li>
                                                        {% endif %}
                                                    {% if reviews.rating == 4 %}
                                                            <li class="active" ><i class="fa fa-star" ></i> </li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class=""><i class="fa fa-star-o"></i></li>
                                                        {% endif %}
                                                    {% if reviews.rating == 5 %}
                                                            <li class="active" ><i class="fa fa-star" ></i> </li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                            <li class="active"><i class="fa fa-star"></i></li>
                                                        {% endif %}
                                                    </ul>
                                                    {{ reviews.rating }}/5
                                                </div>
                                                <div class="review-name">{{ reviews.name }}</div>
                                                <div class="review-date">24/05/2016 7:40am</div>
                                            </div>
                                            <div class="review-title">
                                                {{ reviews.title}}
                                            </div>
                                            <div class="review-message">
                                                {{ reviews.review}}
                                            </div>
                                        </div>
                                        <!-- END review -->

                                    </div>
                                    {% endfor %}
                                    <!-- END col-7 -->
                                    <!-- BEGIN col-5 -->
{#                                have to be on top of page#}
                                    <div class="col-md-5" style="margin-top: 0; padding-top: 0">
                                        <!-- BEGIN review-form -->
                                        <div class="review-form">
{#                                            {%for i in ratings%}#}
                                            <form action="" name="review_form" method="POST" >
                                                {% csrf_token %}
{#                                                {{ forms.as_p }}#}
                                                <h2>Write a review</h2>
                                                {{ forms.user }}

                                                {{ forms.product }}
                                                <div class="form-group">
                                                    <label for="name">Name <span class="text-danger">*</span></label>
                                                     {{ forms.name }}
                                                </div>

                                                <div class="form-group">
                                                    <label for="email">Title <span class="text-danger">*</span></label>
                                                    {{ forms.title }}
{#                                                    <input type="text" class="form-control" id="email" />#}
                                                </div>
                                                <div class="form-group">
                                                    <label for="review">Review <span class="text-danger">*</span></label>
                                                    {{ forms.review }}
{#                                                    <textarea class="form-control" rows="8" id="review"></textarea>#}
                                                </div>
                                                <input type="text" name="inputfield" id="inputFieldForStars" value=0 hidden>
                                                <div class="form-group">
                                                    <label for="email">Rating  <span class="text-danger">*</span></label>
                                                    <div class="rating rating-selection"  data-rating="true" data-target="rating">
                                                        <i class="fa fa-star-o" id="first" data-color="red" data-rating="1" ></i>
                                                        <i class="fa fa-star-o"  id="second" data-value="4" data-rating="2" ></i>
                                                        <i class="fa fa-star-o" id="third" data-value="6" data-rating="3" ></i>
                                                        <i class="fa fa-star-o" id="fourth" data-value="8" data-rating="4" ></i>
                                                        <i class="fa fa-star-o" id="fifth" data-value="10" data-rating="5" ></i>
                                                        <span class="rating-comment">
                                                            <span class="rating-comment-tooltip">Click to rate</span>
                                                        </span>
                                                    </div>

                                                </div>
                                                {{ forms.rating }}
                                                <button type="submit" value="Submit" class="btn btn-inverse btn-lg">Submit Review</button>
                                            </form>
                                        </div>
                                        <!-- END review-form --> 
                                    </div>
                                    <!-- END col-5 -->
                                </div>
                                <!-- END row -->
                            </div>
                            <!-- END #product-reviews -->
                        </div>
                        <!-- END #product-tab-content -->
                    </div>
                    <!-- END product-tab -->
                </div>
                <!-- END product -->
                
                <!-- BEGIN similar-product -->
                <h4 class="m-b-15 m-t-30">You Might Also Like</h4>
                <div class="row row-space-10">
                    {% for phone in in_products %}
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="{{ phone.image.url }}" alt="">
                                <div class="discount">15% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product_detail.html">{{ phone.name }}</a>
                                </h4>
                                <p class="item-desc">{{ phone.description }}</p>
                                <div class="item-price">{{ phone.new_price }}</div>
                                <div class="item-discount-price">{{ phone.off_price }}</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    {% endfor %}
                </div>
                <!-- END similar-product -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #product -->
    
    <!-- begin theme-panel -->
    <div class="theme-panel">
        <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
        <div class="theme-panel-content">
            <ul class="theme-list clearfix">
                <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
            </ul>
        </div>
    </div>
    <!-- end theme-panel -->


	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'assets/plugins/jquery/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="{% static 'assets/crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{% static 'assets/crossbrowserjs/respond.min.js' %}"></script>
		<script src="{% static 'assets/crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{% static 'assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
	<script src="{% static 'assets/js/apps.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->

	<script>
	    $(document).ready(function() {
	        App.init();
	    });

	</script>
    <script>
    $(document).ready(function (){
       var count=0;
       $("#first").click(function (){
           $("#first").css("color","orange");
           $("#second").css("color","black");
            $("#third").css("color","black");
            $("#fourth").css("color","black");
            $("#fifth").css("color","black");
           count=1;
           $("#total").val(count);
       })
        $("#second").click(function (){
           $("#first").css("color","orange");
           $("#second").css("color","orange");
            $("#third").css("color","black");
            $("#fourth").css("color","black");
            $("#fifth").css("color","black");
           count=2;
           $("#total").val(count);
       })
        $("#third").click(function (){
           $("#first").css("color","orange");
           $("#second").css("color","orange");
            $("#third").css("color","orange");
            $("#fourth").css("color","black");
            $("#fifth").css("color","black");
           count=3;
           $("#total").val(count);
       })
        $("#fourth").click(function (){
           $("#first").css("color","orange");
           $("#second").css("color","orange");
            $("#third").css("color","orange");
            $("#fourth").css("color","orange");
            $("#fifth").css("color","black");
           count=4;
           $("#total").val(count);
       })
        $("#fifth").click(function (){
           $("#first").css("color","orange");
           $("#second").css("color","orange");
            $("#third").css("color","orange");
            $("#fourth").css("color","orange");
            $("#fifth").css("color","orange");
           count=5;
           $("#total").val(count);
       })
    });


    $(document).ready(function(){
        $(".reviewStars").click(function(){
            $var =$(this).attr("data-rating");
            $("span").css("color","#000");
            if($var <3)
            {
                $("span").slice(0,$var).css("color","red");
            }
            else   if($var <= 4)
            {
                $("span").slice(0,$var).css("color","yellow");
            }
            else   if($var <= 5)
            {
                $("span").slice(0,$var).css("color","green");
            }
        })


})

    </script>
{% endblock %}